.mask{
    position:fixed;top:0;left:0;z-index:1000;background:#eee;
    opacity:0.8;width:100%;height:100%;
}
.mask .loading{width:80px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.login{
    width:500px;height:440px;margin:50px auto;text-align:center;
    box-shadow:2px 6px 60px 10px #eee;padding:20px;
}
.login img{width:140px;}
.myform{text-align:left;}
.reg{float:right;}