/* 
* @Author: Marte
* @Date:   2018-01-12 19:30:28
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-15 09:58:35
*/

#qf_banner {
    height: 270px;
    width: 100%;
    background-color: white;
    background:url(../images/aboutBanner.jpg) no-repeat  center;
}
#qf_introduction .container{
    height: 45px;
    background-color: white;
    font-size: 14px;
    line-height: 45px;
    padding-left:  30px;
}
#qf_main{
    border-top: 1px solid gainsboro;
}
#qf_main .container{
    height: 688px;
}
#qf_main .main1{
    width: 220px;
    height:604px;
    float:left;
    text-align: center;
    padding:10px 0;
    background-color: gainsboro;
}
#qf_main .main1 ul{
    margin-top: 30px;
}
#qf_main .main1 ul li{
    font-size:14px;
    line-height: 44px;
    border-top: 1px solid gray;
    padding:8px 0;
}
#qf_main .main1 ul li:nth-child(3){
    
    border-bottom:  1px solid gray;
}
#qf_main .main1 ul li:hover{
    background-color: #F15A23;
}
#qf_main .main1 h2,#qf_main .main1 h2,#qf_main .main1 ul li h3,{
    font-weight: 400;
}
#qf_main .main1 h2{
    font-size:22px;
    line-height: 42px;
}
#qf_main .main1 h4{
    font-size:12px;
    line-height: 14px;
}
#qf_main .main2{
    width: 738px;
    height:604px;
    float:right;
}
#qf_main .main2 h3{
    font-size: 20px;
    line-height: 44px;
    font-weight: 400;
    /*text-decoration: underline;*/
    padding:1px 0;
    border-bottom: 2px solid #F15A23;
}
#qf_main .main2 p{
    text-indent: 2em;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 38px;
}
#qf_main .main2 .p3 span{
    color:#F15A23;
}

