/* 
* @Author: Marte
* @Date:   2018-01-12 11:23:34
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-15 09:26:41
*/
*{
    margin: 0;
    padding: 0;
}
img{
    border:0;
}
ol, ul ,li{list-style: none;} 
a{
    text-decoration: none;
}
body,html{
    width: 100%;
    height: 100%;
}
#box{
    width: 100%;
}
/*提取相同属性*/
.container{
    width:1000px;
   margin:0 auto;
}
#box #q_header {
  width: 100%;
  height:62px;
  background-color: black;
}
#box #q_header .container{
    height: 62px;

}
#box #q_header  h1{
    width:200px;
    height:62px;
    background:url(../images/qf_logo.png) no-repeat;
    text-indent: -2000px;
    float: left;
}
#box #q_header ul{
    width: 726px;
    height: 62px;
    float:right;
}
#box #q_header ul li{
    float:left;
}
/*#box #q_header ul li a:link{
   background-color: green;
}
#box #q_header ul li a:visited{
   background-color: pink;
}*/
#box #q_header ul li:hover a{
    background-color: #F15A23;
}
#box #q_header ul li a{
    display: block;
   height: 62px;
   line-height: 62px;
   padding:0 15px 0 12px;
   border-right: 1px solid gray;
   font-size: 14px;
   color:white;
}


#box #q_header ul li:nth-child(9) a{
    
   border-right: 0 none;
}




#box #q_banner{
    margin: 0 auto;
    width:1000px;
    height:420px;
   overflow: hidden;
   position:relative;

}

#box #q_banner .imgs_box{
    height:420px;
    width:5000px;
    position: absolute;
    left:0;
}
#box #q_banner .imgs_box img{
    height:420px;
    width:1000px;
    float:left;
}

#box #q_main .container{
    height: 300px;
    padding:25px 0;
}


#box #q_main .container .cont{
    height: 298px;
}
#box #q_main .container .cont .c0{
    float:left;
    height:298px;
    width:249px;
    border-right: 1px solid gainsboro;
    text-align: center;
}
#box #q_main .container .cont .c0 h2{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
#box #q_main .container .cont .c0 p{
    font-size: 14px;
    line-height: 30px;
}
#box #q_main .container .cont .c0 ul li{
    font-size: 12px;
    line-height: 18px;
}

#box #q_main .container .cont .c0:nth-child(4){
    
    border-right: 0 none;
}

#box #q_news .container{
    height: 226px;
    padding:40px 0;
}
#box #q_news .container .cont{
    height: 230px;
}
#box #q_news .container .cont .new_c1{
    width:300px;
    height: 230px;
    float:left;
}
#box #q_news .container .cont .new_c1 img{
    width:300px;
    height: 230px;
    
}

#box #q_news .container .cont .new_c2{
    width:316px;
    height: 230px;
    float:left;
    border-right: 1px solid gainsboro;
    padding:0 20px;
}
#box #q_news .container .cont .new_c2 h2{
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
}
#box #q_news .container .cont .new_c2 h3{
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}
#box #q_news .container .cont .new_c2 p{
    font-size: 12px;
    line-height: 18px;
}
#box #q_news .container .cont .new_c2 .dashed{
    border-bottom: 1px dashed gray;
    margin:10px 0;
}
#box #q_news .container .cont .new_c2 ul li{
    font-size: 14px;
    line-height: 26px;
    /*list-style-image: url(../images/arror.jpg)  ;
    list-style-position: inside;*/
    padding-left:14px;
    list-style: url(../images/arror.jpg);
}
#box #q_news .container .cont .new_c2 ul li a{
   color:gray;
}
#box #q_news .container .cont .new_c2 ul li a:hover{
   color: #F15A23;
}
#box #q_news .container .cont .new_c3{
    width:320px;
    height: 230px;
    float:right;
}
#box #q_news .container .cont .new_c3 h3{
   font-size: 20px;
   line-height: 40px;
   font-weight: 400;
}
#box #q_news .container .cont .new_c3 input{
   width: 108px;
   height: 24px;
   font-size: 12px;
   line-height: 24px;
   font-weight: 400;
   margin-bottom: 30px;
   border:none;
   outline: none;
}
#box #q_news .container .cont .new_c3 input:hover{
   background-color: #FD8200;
   color:white;
}
#box #q_news .container .cont .new_c3 input{
   width: 108px;
   height: 24px;
   font-size: 12px;
   line-height: 24px;
   font-weight: 400;
   margin:10px 0;
}
#box #q_news .container .cont .new_c3 span{
   
   font-size: 18px;
   line-height: 40px;
}
#box #q_news .container .cont .new_c3 ul li{
   
   font-size: 14px;
   line-height: 26px;
}
#box #q_news .container .cont .new_c3 ul li a{
   color:gray;
}

#box #q_links{
    width:100%;
    background-color: #222222;

}
#box #q_links .container{
    height: 214px;
}
#box #q_links .container div{
    float:left;
}
#box #q_links .container .about{
    height: 134px;
    width:464px;
    padding:40px 10px;

}
#box #q_links .container .about dl{
    float:left;
    font-size: 12px;
    margin-right: 40px;
    text-align: center;
    color:white;
}
#box #q_links .container .about dt{
    line-height: 36px;
}
#box #q_links .container .about dd{
    line-height: 26px;
    color:gray;
}
#box #q_links .container .map{
    width:310px;
    height:214px;
    margin-right: 10px;
    background:url(../images/links_1.png) no-repeat;
}
#box #q_links .container .code{
    width:188px;
    height:214px;
    background:url(../images/qf_code.jpg) no-repeat 0 center;
}
#box #q_copyright{
    width:100%;
    background-color: black;
}
#box #q_copyright .container{
    height: 44px;
}
#box #q_copyright .container p{
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    color:gray;
}
